<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpackdemo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".day1203_2021_coroutine.MainActivity"
            android:exported="true">
        </activity>
        <activity android:name=".day1027_custom_view.MainActivity">
        </activity> <!-- <activity android:name=".day1015_custom_view.CustomEditActivity"></activity> -->
        <activity android:name=".day1015_custom_view.CustomEditActivity"></activity>
        <activity android:name=".day61_workmanager.MainActivity" />
    </application>

</manifest>